<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <meta charset='utf-8'>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
    <title>CADASTRAR USUÁRIO</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='/webjars/bootstrap/css/bootstrap.min.css'>
</head>

<body>
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{/importacao}">IMPORTAÇÕES</a>
      <a class="navbar-brand" th:href="@{/usuarios}">USUÁRIOS</a>

      <form class="d-flex" th:action="@{/logout}" method="post">
        <input type="hidden" name="csrf" th:value="${_csrf.token}" />

        <button class="btn btn-danger" type="submit">SAIR</button>
      </form>
    </div>
  </nav>

  <div class="container">

    <form th:action="|@{/usuarios}/${recurso}|" th:method="${usuario.rowId == null ? 'POST' : 'PUT'}" th:object="${usuario}" th:with="recurso = ${usuario.rowId == null ? 'novo' : 'editar'}">
        <input type="hidden" th:field="*{rowId}">
        <input type="hidden" th:field="*{hashSenha}">
        <input type="hidden" th:field="*{ativo}">

        <div class="col col-sm-6 offset-sm-3 mt-5">
          <h1 class="text-center">CADASTRAR USUÁRIO</h1>

          <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" th:field="*{nome}" class="form-control" id="nome" required>
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" th:field="*{email}" class="form-control" id="email" placeholder="name@example.com" required>
          </div>

          <button class="btn btn-primary mt-3" th:text="${usuario.rowId == null ? 'Cadastrar' : 'Alterar'}">Cadastrar</button>
          <a class="btn btn-secondary mt-3" th:href="@{/usuarios}" >Cancelar</a>
        </div>
    </form>

    <div class="modal fade" id="modal-erro" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" th:if="${not #strings.isEmpty(mensagem)}">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Não foi possivel realizar cadastro usuário</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
              <p th:text="${mensagem}">Mensagem Erro Modal</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
      <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

      <script>
          const divModal = document.getElementById('modal-erro');

          if(divModal){
            const modalErroBootstrap = new bootstrap.Modal(divModal,  {keyboard: false}); 
            
            document.addEventListener('DOMContentLoaded', () => {
                modalErroBootstrap.show();
            });

        } 
      </script>
</body>

</html>