<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <meta charset='utf-8'>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
    <title>SISTEMA DE ANÁLISE  DE TRANSAÇÕES FINANCEIRAS</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='/webjars/bootstrap/css/bootstrap.min.css'>
</head>

<body class="container">
    <form method="post" th:object="${usuario}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

        <div class="col col-sm-8 offset-sm-2 mt-5">
          <h1 class="text-center">SISTEMA DE ANÁLISE  DE TRANSAÇÕES FINANCEIRAS</h1>

          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="username" class="form-control" id="email" placeholder="name@example.com" required autocomplete="false">
          </div>
          
          <div class="mb-3">
            <label for="senha" class="form-label">Senha</label>
            <input type="password" name="password" class="form-control" id="senha" required autocomplete="false">
          </div>
          <button class="btn btn-primary mt-3">Login</button>
        </div>
    </form>
</body>

</html>